@tailwind base;
@tailwind components;
@tailwind utilities;


.image-right{
  cursor: pointer;
  height: 50px !important;

}



@keyframes expand {
  0%,100% {
  
    width: 50px;
  
  }
  50% {
   
    width: 100px;
   
  }
}

/* Animation on hover */
.image-right {
  animation: expand 2s infinite ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  cursor: pointer;
}
.animate-scroll:hover{
  animation-play-state: paused;
}


@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-carousel {
  display: flex;
  animation: carousel 10s linear infinite;
  cursor: pointer;
}

.carousel-container {
  display: flex;
  width: 300%; /* 3 times the width of one image */
}

.carousel-container > div {
  width: 33.3333%; /* Each image takes up one-third of the container */
}


.big-images{
  cursor: pointer;
  transition: transform .7s ease-in-out;

}
.big-images:hover{
  transform: scale(1.06);
  box-shadow: rgba(255, 255, 255, 0.9) 0px 7px 29px 0px;

}